.flex-container {
  /* We first create a flex layout context */
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
   
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  background: silver;
  margin: 5px;
  padding: 5px;
  width: 150px;
  height: 200px;
  margin-top: 10px;
  /* line-height: 150px;
  color: white;
  font-weight: bold; */
  /* font-size: 3em;*/
  text-align: center; 
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
}